<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sign in</title>
</head>
<body>

    <div class="container">
        <form action="">
            <input placeholder="email" type="email">
            <input type="password" placeholder="password">
        </form>
        <a href="#">forgot password</a>C

        <div class="obox logins">
            <a href="">google</a>
            <a href="">facebook</a>
            <a href="">microsoft</a>
        </div>
    </div>
    
</body>
</html>